.section::-webkit-scrollbar {
    width: 16px;
}

.section::-webkit-scrollbar-track {
    background-color: blue;
    border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
}

.page {
    font-size: 4em;
    color: #cccccc;
    cursor: pointer;
    padding-right: 0.1em;
    padding-left: 0.1em;
}

.active {
    color: #61dafb;
}

